.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.nav-item {
  margin-right: .8rem;
}

.activeNav {
  color: #555 !important;
  background-color: #e7e7e7 !important;
}

.home,
.submit,
.row {
  padding-top: 5%;
  padding-bottom: 10%;
}

.row,
h1 {
  margin-top: 1rem;
}

.btn-dark {
  margin-bottom: 5%;
}

.btn-dark:hover {
  background-color: #007bff;
}


/* Footer */
.footer {
  background-color: #282c34;
  font-size: .8rem;
  height: 3.4rem;
  position: fixed;
  bottom: 0;
  width: 85%;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  body {
    font: 1rem/1.5 Arial,
      Helvetica,
      sans-serif;
  }

  .card,
  recipie {
    font-size: .8rem;
  }

  .row,
  h1 {
    font-size: 1.5rem;
  }

  .row,
  h2 {
    margin-top: 5%;
  }

  .footer {
    width: 100%;
    font-size: .6rem;
  }
}